@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 33%;
    --foreground-dark: 270 9% 8%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 33%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 33%;

    --primary: 353 99% 42%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 93%;
    --secondary-foreground: 270 9% 8%;

    --muted: 0 0% 93%;
    --muted-foreground: 0 0% 33%;

    --accent: 353 99% 42%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 93%;
    --input: 0 0% 93%;
    --ring: 353 99% 42%;

    --radius: 0rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 0 0% 33%;
    --sidebar-primary: 353 99% 42%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 93%;
    --sidebar-accent-foreground: 270 9% 8%;
    --sidebar-border: 0 0% 93%;
    --sidebar-ring: 353 99% 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
